body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.backGroundGradient {
    background-image: url("Assets/Image/Kyoukai\ no\ kanata\ mirai.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.background {
    background-color: rgba(212, 129, 205,0.7);;
    font-family: "Comfortaa";
    border-radius: 8px;
    width: 530px;
    margin-left: 20px;
    margin-top: 25px;
    border: 5px solid black;
    transform: translate(1%, -2vh);
}

.aboutWithMe {
    background-color: rgba(212, 129, 205,0.7);;
    width: 300px;
    font-family: "Comfortaa";
    padding: 15px;
    margin-left: 20px;
    margin-top: 40px;
    border: 5px solid black;
    border-radius: 8px;
}

.aboutMe {
    background-color: rgba(212, 129, 205,0.7);
    border: 5px solid black;
    font-family: "Comfortaa";
    width: 350px;
    border-radius: 8px;
    margin-left: 20px;
}

.title {
    background-color: rgba(212, 129, 205,0.7);
    width: 35vh;
    opacity: 0.7;
    font-family: "Comfortaa";
    padding: 15px;
    margin-left: 20px;
    border: 5px solid black;
    border-radius: 8px;
}

.headerPortifolio {
    background-color: rgb(245, 150, 253);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    font-family: "Comfortaa";
}

.myGamesStyle {
    background-color: rgba(212, 129, 205,0.7);;
    width: 30vw;
    height: 32vh;
    font-family: "Comfortaa";
    padding: 15px;
    margin: 20px;
    border: 5px solid black;
    border-radius: 8px;
    transform: translate(1%, -3vh);
}

.titleText {
    background-color: rgba(212, 129, 205,0.7);;
    width: auto;
    font-family: "Comfortaa";
    padding: 15px;
    margin-left: 25px;
    border: 5px solid black;
    border-radius: 8px;
}

.article {
    background-color: rgba(212, 129, 205,0.7);;
    float: right;
    width: 38vw;
    height: 65vh;
    font-family: "Comfortaa";
    font-size: 1.6vh;
    padding: 15px;
    border: 5px solid black;
    border-radius: 8px;
    transform: translate(-10%, -120%);
}

@font-face {
    font-family: "Comfortaa";
    src: url("Fonte/Comfortaa-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("Fonte/Roboto-Thin.ttf");
}