body {
    margin: 0;
    padding: 0;
}

.bg-img {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 6.2vh;
    color: white;
    display:flex;
    font-family: 'Comfortaa', "Roboto", sans-serif;
}

.btn{
    background-color: white;
    font-size: 3vh;
    width: 5vw;
    height: 6.2vh;
    z-index: 2;
    font-family: "Comfortaa", "Roboto", sans-serif;
    color: black;
    display: inline-block;
    position: fixed;
}
.hd-img{
    height: 3.3vw;
    width: 6vh;
}

section {
    position: absolute;
    top: 10vh;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2vh;
    box-shadow: 1vh 1vh 1vh 1vh rgba(0, 0, 0, 0.2);
    width: 45vw;
    height: 80vh;
    padding: 2vh;
    font-family: 'Comfortaa', "Roboto", sans-serif;
    color: white;
}

section.left {
    left: 2vw;
}
section h1 {
    font-size: 4vh;
    color: white;

    font-family: 'Comfortaa', "Roboto", sans-serif;
}

section .box h1 {
    font-size: 2vh;
}

iframe {
    display: flex;
    border-radius: 1.5vh;
    z-index: 1;
    left: 2vh;
    position: absolute;
    width: 25vw;
    height: 30vh;
    top: 30vh;
    box-shadow: 0.5vh 0.5vh 1vh 1vh rgba(0, 0, 0, 0.2);
}
.changeColorA{
    color: white;
    font-family: 'Comfortaa', "Roboto", sans-serif;
    font-size: 1.5vh;
}
.headerHomePage{
    font-size: 5vh;
    color: white;
    font-family: 'Comfortaa', "Roboto", sans-serif;
    
}

@font-face {
    font-family: "Comfortaa";
    src: url("Assets/Fonte/Comfortaa");
}

@font-face {
    font-family: "Roboto";
    src: url("Assets/Fonte/Roboto-Thin.ttf");
}